:root {
  --cor-fundo-body: #0a0a0a;
  --cor-fundo-header: #171717;
  --cor-fundo-cursos: #0f0f0f;
  --cor-fundo-cursos-li1: #0c0c0c;
  --cor-fundo-cursos-li2: #0e0e0e;
  --cor-fundo-footer: #060606;
  --cor-texto-h1: #d3d3d3;
  --cor-texto-h1-gradient: #9f9b9b;
  --cor-texto-h2: #c2c2c2;
  --cor-texto-h3: #cfcfcf;
  --cor-texto-link: #ffffff;
  --cor-texto-p1: #e9e9e9;
  --cor-texto-p2: #dfdfdf;
  --cor-fundo-footer-p: #e9e9e9;
  --cor-detalhe-footer: #252525;
  --cor-link-cursos: #735dfd;
  --cor-texto-strong: #ffffff;
  --cor-texto-span: #e7e3e3;
}

body {
  margin: 0px;
  font-family: "Fira-sans", arial, sans-serif;
  background-color: var(--cor-fundo-body);
  color: var(--cor-texto-p1);
}

@media (prefers-color-scheme: light) {
  :root {
    --cor-fundo-body: #f0f0f0;
    --cor-fundo-header: #fafafa;
    --cor-fundo-cursos: #654df4;
    --cor-fundo-cursos-li1: #3e27c8;
    --cor-fundo-cursos-li2: #3520b3;
    --cor-texto-h1: #1a1a1a;
    --cor-texto-span: #0c0c0c;
    --cor-texto-h1-gradient: #2b2b2b;
    --cor-texto-link: #000000;
    --cor-texto-p1: #161616;
    --cor-texto-p2: #2c2c2c;
    --cor-texto-strong: #000000;
    --cor-texto-h3: #f7f7f7;
    --cor-link-cursos: #9f90ff;
    --cor-fundo-footer: #3520b3;
    --cor-fundo-footer-p: #e9e9e9;
    --cor-detalhe-footer: #0a0a0a;
    --cor-texto-h2: #e9e9e9;
  }
}

h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
