:root {
  --cor-primaria: #F06543;
  --cor-secundaria: #18B745;
  --cor-detalhe: #246EB9;
  --cor-texto-h1: #fff;
  --cor-texto-h1-gradient: #9f9b9b;
  --cor-texto-h2: #c2c2c2;
  --cor-texto-h3: #cfcfcf;
  --cor-texto-p1: #fff;
  --cor-texto-p2: #dfdfdf;
  --cor-texto-span: #fafafa;
}

html{
  scroll-behavior: smooth;
}

body {
  max-width: 1400px;
  margin: 0 auto;
  font-family: "Fira-sans", arial, sans-serif;
  background: linear-gradient(135deg, #F06543 5.21%, #246EB9 47.92%, #18B745 89.58%);
  color: var(--cor-texto-p1);
}

body::-webkit-scrollbar{
  background: linear-gradient(135deg, #F06543 5.21%, #246EB9 47.92%, #18B745 89.58%);
  width: 10px;
}

body::-webkit-scrollbar-thumb{
  background-color: var(--cor-detalhe);

}
/* @media (prefers-color-scheme: light) {
  :root {
    --cor-fundo-body: #f0f0f0;
    --cor-fundo-header: #f5f5f55e;
    --cor-fundo-cursos: #654df4;
    --cor-fundo-cursos-li1: #3e27c8;
    --cor-fundo-cursos-li2: #3520b3;
    --cor-texto-h1: #1a1a1a;
    --cor-texto-span: #0c0c0c;
    --cor-texto-h1-gradient: #2b2b2b;
    --cor-texto-link: #000000;
    --cor-texto-p1: #161616;
    --cor-texto-p2: #2c2c2c;
    --cor-texto-strong: #000000;
    --cor-texto-h3: #f7f7f7;
    --cor-link-cursos: #9f90ff;
    --cor-fundo-footer: #3520b3;
    --cor-fundo-footer-p: #e9e9e9;
    --cor-detalhe-footer: #0a0a0a;
    --cor-texto-h2: #e9e9e9;
  }
} */

h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a,
abbr{
  text-decoration: none;
}

