.sobre-tecnologias {
  max-width: 1200px;
  margin: 0 auto;
  border: 2px solid #252525;
  border-radius: 4px;
  width: 760px;
  height: max-content;
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  padding: 20px 20px;
}

.sobre-tecnologias h1 {
  grid-column: 1/2;
  padding: 20px 0px 10px 0px;
  font-size: 100px;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to top,var(--cor-texto-h1-gradient),#735dfd);
}

.sobre-tecnologias h2 {
  padding-bottom: 60px;
  font-size: 28px;
  font-weight: normal;
}

.lista-tec {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}


.nivel-de-conhecimento {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 16px;
  font-weight: bold;
  gap: 6px;
}

.conhecimento-html {
  background-color: #ff4c1e;
  grid-area: 2/1;
}

.conhecimento-css {
  background-color: #004ce8;
}

.conhecimento-js {
  background-color: #ffd600;
  color: #000;
}

.detalhe-conhecimento {
  font-size: 0.9rem;
  font-weight: normal;
  padding-top: 6px;
}

@media (max-width: 800px) {
  .sobre-tecnologias {
    width: 500px;
    height: 100%;
  }
  .sobre-tecnologias h1 {
    font-size: 70px;
  }
  .sobre-tecnologias h2 {
    font-size: 24px;
  }
  .lista-tec {
    display: grid;
    grid-template-columns: 1fr;
  }
  .css {
    grid-area: 5/1;
    position: relative;
  }
  .estrelas-css {
    grid-area: 6/1;
    padding: 14px 0px 40px;
  }
  .react {
    grid-area: 7/1;
    position: relative;
  }
  .estrelas-react {
    grid-area: 8/1;
    padding-bottom: 20px;
  }
  .html::before {
    content: "";
    display: block;
    width: 200px;
    height: 2px;
    position: absolute;
    top: -60px;
    left: 150px;
    transform: rotate(0deg);
  }
  .js::before {
    display: none;
  }
}

@media (max-width: 540px) {
  .sobre-tecnologias {
    width: 90%;
    height: 100%;
    border: none;
    padding: 0px 0px 0px 20px;
    margin: 0px;
  }
  .sobre-tecnologias h1 {
    font-size: 50px;
    padding: 0px 0px 40px 0px;
  }
  .sobre-tecnologias h2 {
    font-size: 18px;
    padding-bottom: 40px;
  }
}
